[project]
name = "GenshinUID"
version = "3.1.0"
authors = [
    { name="KimigaiiWuyi", emali="444835641@qq.com" },
]
description = "基于HoshinoBot/NoneBot2/QQ官方频道Bot(PythonSDK)的原神Uid查询/原神Wiki/米社签到/树脂提醒插件"
license = { file="LICENSE" }
requires-python = ">=3.8"
readme = "README.md"
dependencies = [
    'nonebot2>=2.0.0-beta.4',
    'nonebot-adapter-qqguild>=0.1.1',
    'httpx>=0.23.0',
    'wordcloud>=1.8.2',
    'numpy>=1.23.1',
    'beautifulsoup4>=4.11.1',
    'lxml>=4.9.1',
    'openpyxl>=3.0.10',
    'aiohttp>=3.8.1',
    'SQLAlchemy>=1.4.39',
    'Pillow>=9.2.0',
    'scikit-learn>=1.1.2',
    'shapely>=1.8.2',
    'aiosqlite>=0.17.0',
    'nonebot-plugin-apscheduler>=0.1.4',
    'aiofiles>=0.8.0',
    'sqlmodel>=0.0.8',
    'GitPython>=3.1.27',
    'fastapi_amis_admin>=0.2.1',
    'fastapi_user_auth>=0.2.1'
]

[project.optional-dependencies]
dev = ['flake8>=4.0.1', 'black>=22.6.0', 'isort>=5.10.1', 'pre-commit>=2.20.0']

[project.urls]
"Homepage" = "https://github.com/KimigaiiWuyi/GenshinUID/tree/nonebot2-beta1"
"Documentation" = "https://github.com/KimigaiiWuyi/GenshinUID/wiki"
"Bug Tracker" = "https://github.com/KimigaiiWuyi/GenshinUID/issues"

[tool.black]
line-length = 79
target-version = ["py38", "py39", "py310"]
include = '\.pyi?$'
skip-string-normalization = true
extend-exclude = '''
'''

[tool.isort]
profile = "black"
line_length = 79
length_sort = true
skip_gitignore = true
force_sort_within_sections = true
extra_standard_library = ["typing_extensions"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
