requests>=2.28.1
httpx>=0.23.0
wordcloud>=1.8.2
numpy>=1.23.1
beautifulsoup4>=4.11.1
lxml>=4.9.1
openpyxl>=3.0.10
aiohttp>=3.8.1
aiofiles>=0.8.0
SQLAlchemy>=1.4.39
Pillow>=9.2.0
scikit-learn>=1.1.2
shapely>=1.8.2
aiosqlite>=0.17.0
nonebot~=1.6.0