httpx>=0.23.0
nonebot2>=2.0.0b4
nonebot-adapter-onebot>=2.1.1
beautifulsoup4>=4.11.1
lxml>=4.9.1
openpyxl>=3.0.10
aiohttp>=3.8.1
aiofiles>=0.8.0
SQLAlchemy>=1.4.39
Pillow>=9.2.0
aiosqlite>=0.17.0
nonebot-plugin-apscheduler>=0.1.4
aiofiles>=0.8.0
sqlmodel>=0.0.8
gitpython>=3.1.27
fastapi_amis_admin>=0.2.1
fastapi_user_auth>=0.2.1
